.list{
    width: 700px;
    font-size: large;
    margin-right: 20%;
}

.content{
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: antiquewhite;
    font-display: 200px;
    color: darkblue;
    padding-left: 20px;
}



